<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>众筹</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		body {
			background-color: #CCFFFF;
		} 
	</style>
  </head>
  <body>
    <div class="container">
		<div class="page-header" style="text-align: center;">
		  <h3>Example page header</h3>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <a href="#" class="thumbnail" style="margin-bottom: 0px">
			    <img src="images/noimg_larg.png" alt="...">
			  </a>
			  <div class="caption">
				<p>我是简介我是简介我是简介我是简介我是简介我是简介我是简介我是简介</p>
				<!-- <div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					<span class="sr-only">60% Complete</span>
				  </div>
				</div> -->
			  </div>
			</div>
		  </div>
		</div>
		<ul class="list-inline">
		  <li><img src="images/noimg_larg.png" alt="..." class="img-rounded"></li>
		  <li><img src="images/noimg_larg.png" alt="..." class="img-rounded"></li>
		  <li><img src="images/noimg_larg.png" alt="..." class="img-rounded"></li>
		  <li><img src="images/noimg_larg.png" alt="..." class="img-rounded"></li>
		</ul>
        
        <div class="container-fluid" style="margin-top:5em;">
            <div class="row-fluid">
                <footer>
                    <p style="text-align: center;">&copy; 2018 <a href="#" title="捐款众筹">捐款众筹</a></p>
                </footer>
            </div>
        </div>
    
	</div>
  </body>
</html>