<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry location="D:\workspace\mysql-connector-java-5.1.26.jar" />
	
	<context id="context" >
		<commentGenerator type="com.my.color.createcode.CommentGenerator">
		    <property name="javaFileEncoding" value="UTF-8"/>  
			<property name="suppressAllComments" value="false" />
			<property name="suppressDate" value="true" />
	    </commentGenerator>
	    
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/mycolor?characterEncoding=UTF-8" userId="root" password="root" />

		<javaModelGenerator targetPackage="com.my.color.teach.student.dao.po" targetProject="color" />
		<sqlMapGenerator targetPackage="com.my.color.teach.student.dao.mapper" targetProject="color" ></sqlMapGenerator>
		<javaClientGenerator targetPackage="com.my.color.teach.student.dao" targetProject="color" type="XMLMAPPER" />
		<table schema="general" tableName="e_student_record" domainObjectName="StudentRecord"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false"	selectByExampleQueryId="false" >
			<property name="useActualColumnNames" value="false"/>
		</table>
	</context>
</generatorConfiguration>